# Virtual Environment
.lifeos/
lifeos/
LifeOS/
LifeOs/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment Variables
.env
